{% extends 'productoapp/base_home.html' %}
  {% block main %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Eliminar Producto</h1>
    <br />
    <!-- ./ End Page Heading-->
    <!-- Form Delete Product -->
    <form method="post" >
      {% csrf_token %}
      <div class="text-center">
        <h3>Está seguro que desea eliminar este registro?</h3>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-danger">Borrar</button>
            <a href="{% url 'home' %}" class="btn btn-info">Cancelar</a>
          </div>
        </div>
      </div>
    </form>
    <!-- ./End Form Delete Product -->
  {% endblock %}