{% extends 'productoapp/base_home.html' %}
  {% block main %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Editar Producto</h1>
    <br />
    <!-- ./ End Page Heading -->
    <!-- Form Edit Product -->
    <form method="post" enctype="multipart/form-data" >
      {% csrf_token %}
      <div class="row">
        <div class="col">
          {% for fields in form %}
            <span>{{fields.label}}</span>
            {{fields}}
            <br />
          {% endfor %}
          <div class="text-right">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'home' %}" class="btn btn-info">Cancelar</a>
          </div>
          <br />
        </div>
        <div class="col">
        </div>
      </div>
    </form>
    <!-- ./ End Form Edit Product-->
  {% endblock %}